<div class="content">
  <h1 class="title">We’re Hiring</h1>

  <ion-accordion-group class="accordion hide-desktop">
    <ion-accordion value="film-creator">
      <ion-item slot="header">
        <ion-label>Film Editor and Creator for Trading Content</ion-label>
      </ion-item>
      <div slot="content">
        <div class="section">
          <h2 class="section-title">
            Hiring a Film Editor and Creator for Trading Content
          </h2>
          <p class="section-disclaimer">
            We're looking to increase our exposure on social media, by creating
            more content (specifically Youtube Videos + shorts and Reels on
            Instagram)
          </p>
          <ul>
            <li>
              You will be provided with Living rent free with me (Either in Los
              Angeles or New York, open to be discussed)
            </li>
            <li>Compensation is negotiable (DM to discuss)</li>
            <li>Become a Partner</li>
          </ul>
          <p class="section-important">
            Skills Needed (Most to Least Important)
          </p>
          <ul>
            <li>Short Form Video Editing</li>
            <li>Lighting and Content Creation Setting Management</li>
            <li>Videography</li>
            <li>Photography</li>
            <li>Longform Video Editing</li>
          </ul>
          <div class="contact-container">
            <p class="section-contact">
              Contact us at
              <span>
                <a href="mailto:kevin@xtrades.net">kevin@xtrades.net</a>
              </span>
              and include information about your previous works and experience
              to set up an interview.
            </p>
            <ion-button color="action-button">contact us now</ion-button>
          </div>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="full-stack">
      <ion-item slot="header">
        <ion-label>Full Stack Principal Software Developer</ion-label>
      </ion-item>
      <div slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="c++">
      <ion-item slot="header">
        <ion-label>Sr Principal Software Engineer - C++Programmer</ion-label>
      </ion-item>
      <div slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>

  <div class="list-with-card hide-mobile">
    <ion-list class="list">
      <ion-item>
        <ion-label class="ion-text-wrap"
          >Film Editor and Creator for Trading Content</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap"
          >Full Stack Principal Software Developer</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap"
          >Sr Principal Software Engineer - C++Programmer</ion-label
        >
      </ion-item>
    </ion-list>

    <ion-card class="card">
      <div class="image-container">
        <ion-img src="assets/img/side-img.svg"></ion-img>
      </div>
      <div class="section">
        <h2 class="section-title">
          Hiring a Film Editor and Creator for Trading Content
        </h2>
        <p class="section-disclaimer">
          We're looking to increase our exposure on social media, by creating
          more content (specifically Youtube Videos + shorts and Reels on
          Instagram)
        </p>
        <ul>
          <li>
            You will be provided with Living rent free with me (Either in Los
            Angeles or New York, open to be discussed)
          </li>
          <li>Compensation is negotiable (DM to discuss)</li>
          <li>Become a Partner</li>
        </ul>
        <p class="section-important">
          Skills Needed (Most Important to Least Important)
        </p>
        <ul>
          <li>Short Form Video Editing</li>
          <li>Lighting and Content Creation Setting Management</li>
          <li>Videography</li>
          <li>Photography</li>
          <li>Longform Video Editing</li>
        </ul>
        <div class="contact-container">
          <p class="section-contact">
            Contact us at
            <span>
              <a href="mailto:kevin@xtrades.net">kevin@xtrades.net</a>
            </span>
            and include information about your previous works and experience to
            set up an interview.
          </p>
          <ion-button color="action-button">contact us now</ion-button>
        </div>
      </div>
    </ion-card>
  </div>
</div>
